html, body {
  width:100%;
  height: 100%;
  margin: 0;
  overflow: hidden;
  font-family: 'Lato', sans-serif;
}
.map {
  width: 100%;
  height: 100%;
  font-family: 'Lato', sans-serif;
}
h4 {
  margin: .5rem;
}
h5 {
  margin: 3.3rem 0 0 0;
  font-size: 1.3em !important;
}
h4 span {
  font-size: 1.5rem;
}
nav {
  height: 80px;
  line-height: 80px;
}
.markerStyle1 {
  width: 30px;
  height: 30px;
  margin-top: -28px;
  margin-left: -10px;
  position: absolute;
  background-color: rgb(202, 20, 140);
  border-radius: 50% 50% 50% 0;
  -webkit-box-shadow: -1px 1px 4px rgba(0, 0, 0, .5);
  -moz-box-shadow: -1px 1px 4px rgba(0, 0, 0, .5);
  box-shadow: -1px 1px 4px rgba(0, 0, 0, .5);
}
.markerStyle1:after {
  content: '';
  width: 20px;
  height: 20px;
  margin: 5px 0 0 5px;
  background: #fff;
  position: absolute;
  border-radius: 50%;
  -moz-box-shadow: 0 0 10px rgba(0, 0, 0, .5);
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, .5);
  box-shadow: 0 0 10px rgba(0, 0, 0, .5);
  -moz-box-shadow: inset -2px 2px 4px hsla(0, 0, 0, .5);
  -webkit-box-shadow: inset -2px 2px 4px hsla(0, 0, 0, .5);
  box-shadow: inset -2px 2px 4px hsla(0, 0, 0, .5);
}
.markerStyle3 {
  width: 22px;
  height: 22px;
  margin-top: -28px;
  margin-left: -10px;
  position: absolute;
  background-color: rgb(202, 20, 140);
  border-radius: 50% 50% 50% 0;
  -webkit-box-shadow: -1px 1px 4px rgba(0, 0, 0, .5);
  -moz-box-shadow: -1px 1px 4px rgba(0, 0, 0, .5);
  box-shadow: -1px 1px 4px rgba(0, 0, 0, .5);
}
.markerStyle3:after {
  content: '';
  width: 12px;
  height: 12px;
  margin: 5px 0 0 5px;
  background: #fff;
  position: absolute;
  border-radius: 50%;
  -moz-box-shadow: 0 0 10px rgba(0, 0, 0, .5);
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, .5);
  box-shadow: 0 0 10px rgba(0, 0, 0, .5);
  -moz-box-shadow: inset -2px 2px 4px hsla(0, 0, 0, .5);
  -webkit-box-shadow: inset -2px 2px 4px hsla(0, 0, 0, .5);
  box-shadow: inset -2px 2px 4px hsla(0, 0, 0, .5);
}
.hp3-popup {
  font-size: 1rem;
}
.hp3-title {
  font-weight: bold;
  line-height: 0.4rem;
}
.hp3-adresse {
  line-height: 0rem;
  font-size: .8rem;
}
.leaflet-tooltip {
    position: absolute;
    padding: 0;
    background-color: transparent;
    border: none !important;
    border-radius: 50% !important;
    color: #222;
    white-space: nowrap;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    pointer-events: none;
    box-shadow: none !important;
    font-weight: 600;
    font-size: .8rem;
}
.leaflet-tooltip-top::before {
    display: none;
}
