html, body {
  width:100%;
  height: 100%;
  margin: 0;
  overflow: hidden;
  font-family: 'Lato', sans-serif;
}
.map {
  width: 100%;
  height: 100%;
  font-family: 'Lato', sans-serif;
}
h4 {
  margin: .5rem;
}
h5 {
  margin: 3.3rem 0 0 0;
  font-size: 1.3em !important;
}
h4 span {
  font-size: 1.5rem;
}
nav {
  height: 80px;
  line-height: 80px;
}

/* ---- Marker ---- */
.marker-style-base {
  position: absolute;
  border-radius: 50% 50% 50% 0;
  -webkit-box-shadow: -1px 1px 4px rgba(0, 0, 0, .5);
  -moz-box-shadow: -1px 1px 4px rgba(0, 0, 0, .5);
  box-shadow: -1px 1px 4px rgba(0, 0, 0, .5);
}
.marker-style-big {
  width: 26px;
  height: 26px;
  margin-top: -32px;
  margin-left: -14px;
  background-color: rgb(202, 20, 140);
}
.marker-style-medium {
  width: 22px;
  height: 22px;
  margin-top: -28px;
  margin-left: -10px;
  background-color: rgb(202, 20, 140);
}
.marker-style-small {
}
.marker-style-center {
  display: block;
  position: relative;
  transform: rotate(45deg);
  border-radius: 50%;
  margin: 2px;
}
.marker-style-text {
  position: relative;
  margin: 0 0 0 -1px;
  color: rgba(0, 0, 0, .9);
  font-weight: 900;
  font-size: .85rem;
  text-align: center;
}
.marker-style-text i.tiny {
  font-size: 1.55rem !important;
  margin: -2.8px !important;
}

/* ---- Popup ---- */
.leaflet-popup {
  opacity: .85 !important;
}
.popup-style {
  font-size: 1rem;
}
.popup-style-title {
  font-weight: bold;
  line-height: 1rem;
  margin-bottom: 16px !important;
}
.popup-style-subtitle {
  font-weight: bold;
  line-height: 0.4rem;
  margin: 0;
}
.popup-style-adresse {
  line-height: 0rem;
  font-size: .8rem;
}
.popup-style-HP {
  line-height: 0rem;
  font-size: .8rem;
  font-weight: bold;
}

/* ---- Tooltip ---- */
/*.leaflet-tooltip {
    margin-top: -24px;
    background-color: transparent;
    border: none !important;
    white-space: nowrap;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    pointer-events: none;
    box-shadow: none !important;
    font-weight: 600;
    font-size: 1rem;
}
.leaflet-tooltip-top::before {
    display: none;
}*/
